@{
    ViewBag.Title = "UserControlPage";
}

<h2>UserControlPage</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="row">
    <div class="col-lg-12">
        <div class="middle-box text-center loginscreen  animated fadeInDown">
            <div style="text-align:left">

                <form class="m-t" role="form" action="#">
                    <label class="">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" required="">

                    <label>Password</label>
                    <input type="text" class="form-control" id="password" placeholder="Password" required="">

                    <label>Mobile</label>
                    <input type="text" class="form-control" id="mobile" placeholder="Password" required="">

                    <label>Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Password" required="">

                    <label>Age</label>
                    <input type="text" class="form-control" id="age" placeholder="Password" required="">

                    <button type="submit" style="margin-top: 11px;" onclick="userUpdate();" class="btn btn-primary block full-width m-b">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let AllUsers;
    let id;
    $(document).ready(function () {
        id = sessionStorage.getItem('userid');
        getUserInfo();
      
    })
    
    function getUserInfo() {
        let url = "http://localhost:63378/api/Users/" + id;
        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json",
            dataType: 'json',
            complete: function (response) {
                AllUsers = response.responseJSON;
                $('#username').val(AllUsers.UserName) ;
                $('#mobile').val(AllUsers.Mobile);
                $('#email').val(AllUsers.Email);
                $('#age').val(AllUsers.Age);
                $('#password').val(AllUsers.Password);
            }

        });
    }
    function userUpdate() {
        
        let username = $('#username').val();
        let mobile = $('#mobile').val();
        let email = $('#email').val();
        let age = $('#age').val();
        let password = $('#password').val();

        let jsonobj = {
            "UserID": id,
            "UserName": username,
            "UserType": 1,
            "Password": password,
            "Mobile": mobile,
            "Email": email,
            "Age": age
        };
        let url = "http://localhost:63378/api/Users/" + id;
        $.ajax({
            type: "PUT",
            url: url,
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify(jsonobj),
            complete: function (response) {
                alert("USER INFO UPDATED");
               /* window.location.reload();*/
            }

        });
    }

</script>